body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

header {
  background-color: #2c743e;
  color: white;
  text-align: center;
  padding: 1rem;
}

header img {
  display:flex
}

.imagen-flex {
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.imagen-flex img {
  width: 100%;
  height: auto;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.intro img {
  max-width: 300px;
}

.caracteristicas {
  display: flex;
  justify-content: space-around;
  background-color: #aff0afc7;
  padding: 2rem;
}

.caracteristicas article {
  text-align: center;
}

.caracteristicas i {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.galeria {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}

.galeria img {
  width: 200px;
  height: auto;
  border-radius: 8px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #397e3b;
  color: white;
}

@media (max-width: 768px) {
  .intro {
    flex-direction: column;
    text-align: center;
  }

  .caracteristicas {
    flex-direction: column;
    align-items: center;
  }

  .galeria img {
    width: 90%;
  }
}